<main>
    <div class="section" >
        <div class="container g-0" >
            <div  class="row g-3 mb-4">
                <div  class="col-6 col-md-6 col-lg-3 mb-2">
                    <div class="card h-100" >
                       <figure class="d-flex align-items-center m-0" >
                        <span class="p_icon xl rounded bg-blue-light text-blue flex-shrink-0" >
                            <img src="icons/personal-loan.svg" alt="" class="w-50 h-auto" >
                        </span>
                        <figcaption class="ps-3" >
                            <p class="text-blue-light" >Personal Loans</p>
                            <p class="fs-6 fw-semibold" >$50,000</p>
                        </figcaption>
                       </figure>
                    </div>
                </div>
                <div  class="col-6 col-md-6 col-lg-3 mb-2">
                    <div class="card h-100 " >
                        <figure class="d-flex align-items-center m-0" >
                         <span class="p_icon xl rounded bg-yellow-light text-yellow flex-shrink-0" >
                             <img src="icons/corporate-loan.svg" alt="" class="w-50 h-auto" >
                         </span>
                         <figcaption class="ps-3" >
                             <p class=" text-blue-light" >Corporate Loans</p>
                             <p class="fs-6 fw-semibold" >$100,000</p>
                         </figcaption>
                        </figure>
                     </div>
                </div>
                <div  class="col-6 col-md-6 col-lg-3 mb-2">
                    <div class="card h-100" >
                        <figure class="d-flex align-items-center m-0" >
                         <span class="p_icon xl rounded bg-magenta-light text-magenta flex-shrink-0" >
                             <img src="icons/business-loan.svg" alt="" class="w-50 h-auto" >
                         </span>
                         <figcaption class="ps-3" >
                             <p class="text-blue-light" >Business Loans</p>
                             <p class="fs-6 fw-semibold" >$500,000</p>
                         </figcaption>
                        </figure>
                     </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3 mb-2">
                    <div class="card h-100" >
                        <figure class="d-flex align-items-center m-0" >
                         <span class="p_icon xl rounded bg-cyan-light text-cyan flex-shrink-0 " >
                             <img src="icons/custom-loan.svg" alt="" class="w-50 h-auto" >
                         </span>
                         <figcaption class="ps-3" >
                             <p class="text-blue-light" >Custom Loan</p>
                             <p class="fs-6 fw-semibold" >Choose Money</p>
                         </figcaption>
                        </figure>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" >
        <div class="container gx-0" >
            <div class="row mb-1" >
                <div class="col-sm-12 " >
                    <h6>Active Loans Overview</h6>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12 " >
                    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>SL No</th>
                                <th>Loan Money</th>
                                <th>Left to repay</th>
                                <th>Duration</th>
                                <th>Interest rate</th>
                                <th>Installment</th>
                                <th>Repay</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{ product.sN }}</td>
                                <td>{{ product.loanMony }}</td>
                                <td>{{ product.leftRepay }}</td>
                                <td>{{ product.duration }}</td>
                                <td>{{ product.interestRate }}</td>
                                <td>{{ product.installment }}</td>
                                <td><button class="btn btn-outline-dark btn-md rounded-5 w-100" >Repay</button></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <th>Total</th>
                                <th>$125,0000</th>
                                <th>$750,000</th>
                                <th></th>
                                <th></th>
                                <th>$50,000 / month</th>
                                <th></th>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>
            </div>
        </div>
    </div>
</main>