<div class="navigation_bar" >
    <div class="container-fluid h-100" >
        <div class="row gx-lg-5 h-100 align-items-center " >
            <div class="col aside_col h-100" >
                <div class="h-100 d-flex align-items-center " >
                    <div class="main_logo full" >
                        <img class="" src="images/bank-dash.svg" alt="Bank Dash" >
                    </div>
                </div>
            </div>
            <div class="col" >
               <div class="row gx-lg-5 align-items-center" >
                <div class="col-sm-12 col-md-4 d-none d-md-block" >
                    <h4 class="mb-0" >{{pageName}}</h4>
                </div>
                <div class="col-sm-12 col-md-8 text-end " >
                   <div class="d-inline-flex align-items-center gap-2" >
                    <div class="d-inline-block d-none d-md-inline-block"  >
                        <p-iconField iconPosition="left">
                            <p-inputIcon styleClass="pi pi-search text-blue-light" />
                            <input type="text" pInputText placeholder="Search for something" />
                        </p-iconField>
                    </div>
                    <button class="clear" >
                        <span class="p_icon rounded bg-primary-light" ><i class="pi pi-search" ></i></span>
                    </button>
                    <button class="clear" >
                        <span class="p_icon rounded bg-primary-light" ><i class="pi pi-cog" ></i></span>
                        </button>
                    <div class="d-inline-block" >
                        <button (click)="notification.toggle($event)" class="clear" >
                            <span class="p_icon rounded bg-primary-light text-danger" ><i class="pi pi-bell" ></i></span>
                            </button>
                            <p-overlayPanel #notification [style]="{ width: '450px' }" [showCloseIcon]="true" >
                                <div class="notification_wrapp" >
                                    <div class="mb-3" >
                                        <h6>Notification</h6>
                                    </div>
                                    <ul class="list " >
                                        <li class="mb-2" >
                                            <div class="card bordered px-3 py-3 rounded-4" >
                                                <h6 class="fs-7 fw-medium mb-2" >Lorem Ipsum</h6>
                                                <div class="row justify-content-between " >
                                                    <div class="col-auto" ><p class="fs-7" >Lorem Ipsum</p></div>
                                                    <div class="col-auto" ><p class="fs-7" >1d ago</p></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mb-2" >
                                            <div class="card bordered px-3 py-3 rounded-4" >
                                                <h6 class="fs-7 fw-medium mb-2" >Lorem Ipsum</h6>
                                                <div class="row justify-content-between " >
                                                    <div class="col-auto" ><p class="fs-7" >Lorem Ipsum</p></div>
                                                    <div class="col-auto" ><p class="fs-7" >1d ago</p></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mb-2" >
                                            <div class="card bordered px-3 py-3 rounded-4" >
                                                <h6 class="fs-7 fw-medium mb-2" >Lorem Ipsum</h6>
                                                <div class="row justify-content-between " >
                                                    <div class="col-auto" ><p class="fs-7" >Lorem Ipsum</p></div>
                                                    <div class="col-auto" ><p class="fs-7" >1d ago</p></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li  >
                                            <div class="card bordered px-3 py-3 rounded-4" >
                                                <h6 class="fs-7 fw-medium mb-2" >Lorem Ipsum</h6>
                                                <div class="row justify-content-between " >
                                                    <div class="col-auto" ><p class="fs-7" >Lorem Ipsum</p></div>
                                                    <div class="col-auto" ><p class="fs-7" >1d ago</p></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    
                               </div>
                            </p-overlayPanel>
                    </div>
                    <div class="d-inline-block" >
                        <button (click)="profile.toggle($event)" class="clear" >
                            <span class="p_icon rounded lg" ><img src="images/profile-pic.png" alt="" ></span>
                            </button>
                            <p-overlayPanel #profile>
                                <div class="" >
                                     <figure class="d-flex mb-4 align-items-center" >
                                        <span class="p_icon rounded lg flex-shrink-0" ><img src="images/profile-pic.png" alt="" ></span>

                                        <figcaption class="ps-2" >
                                            <p class="fw-medium mb-1 fs-7" >Grace John</p>
                                            <p class="fw-light fs-7" >+91 9827839223 | gracejohn&#64;gmail.com</p>
                                        </figcaption>
                                     </figure>
                                     <ul class="list bordered" >
                                        <li>
                                            <a href="" class="link" >Menu 1</a>
                                        </li>
                                        <li>
                                            <a href="" class="link"  >Menu 1</a>
                                        </li>
                                        <li>
                                            <a href="" class="link"  >Menu 1</a>
                                        </li>
                                     </ul>
                                </div>
                            </p-overlayPanel>
                    </div>
                    <div class="d-inline-flex d-block d-md-none" >
                        <button class="clear" (click)="toggleMenu()" >
                            <span class="p_icon lg rounded bg-primary text-white " >
                                <i class="pi " [ngClass]="isMenuVisible ? 'pi-times' : 'pi-bars' " ></i>
                            </span>
                        </button>
                    </div>
                   </div>
                </div>
               </div>
            </div>
        </div>
    </div>
</div>
<aside class="aside_nav" [ngClass]="isMenuVisible ? 'active' : ''" >
    <div class="main_logo_wrapp" >
        <div class="main_logo full" >
            <img class="" src="images/bank-dash.svg" alt="Bank Dash" >
        </div>
    </div>
    <nav class="main_menu" >
        <p-panelMenu [model]="items"  />
    </nav>
</aside>
<div class="page_title d-block d-md-none" >
<div class="container-fluid py-3" >
    <div class="row" >
        <div class="col-sm-12" >
            <h4 class="mb-0" >{{pageName}}</h4>
        </div>
    </div>
</div>
</div>